In [2]:
import math 

import numpy as np

import pandas as pd


#CREATING SERIES FROM LIST

a = pd.Series(list('abcdef'))

print(a)

0    a
1    b
2    c
3    d
4    e
5    f
dtype: object

In [3]:
#CREATING SEERIES FROM ARRAY

a = np.array(['INDIA','CHINA','USA','RUSSIA','FRANCE','GERMANY'])

print(pd.Series(a))

0      INDIA
1      CHINA
2        USA
3     RUSSIA
4     FRANCE
5    GERMANY
dtype: object

In [40]:
#CREATING SERIES USING DICTIONARY

a = pd.Series([100,250,350,300,400,450], index = ['INDIA','CHINA','USA','RUSSIA','FRANCE','GERMANY'])

print('PER CAPITA INCOME IN DOLLARS')
print('\n')
print(a)

PER CAPITA INCOME IN DOLLARS


INDIA      100
CHINA      250
USA        350
RUSSIA     300
FRANCE     400
GERMANY    450
dtype: int64

In [8]:
#CREATING SERIES USING SCALAR

a = pd.Series(5, index = ['INDIA','CHINA','USA','RUSSIA','FRANCE','GERMANY'] )  #PASSES THE VALUE 5 TO EVERY INDEX
print(a)

INDIA      5
CHINA      5
USA        5
RUSSIA     5
FRANCE     5
GERMANY    5
dtype: int64

In [3]:
#ASSESSING ELEMENTS IN A SERIES

a = pd.Series([100,250,350,300,400,450], index = ['INDIA','CHINA','USA','RUSSIA','FRANCE','GERMANY'])

print(a)

print('\n')

print(a[2])

print('\n')

print(a[0:4])

print('\n')

print(a.loc['USA'])
print(a.iloc[2])

INDIA      100
CHINA      250
USA        350
RUSSIA     300
FRANCE     400
GERMANY    450
dtype: int64


350


INDIA     100
CHINA     250
USA       350
RUSSIA    300
dtype: int64


350
350

In [31]:
#VECTORIZATION OF SERIES

a = pd.Series([1,2,3,4] , index = ['a','b','c','d'])
b = pd.Series([10,20,30,40] , index =['a','b','c','d'])

print(a+b)                                             #APPLIES TO (+-*/) ALSO

a    11
b    22
c    33
d    44
dtype: int64

In [32]:
b = pd.Series([10,20,30,40] , index =['a','d','c','b'])

print(a+b)                                       #CHANGING INDICES ALSO CHANGES ELEMENT VALUES

a    11
b    42
c    33
d    24
dtype: int64

In [34]:
c =  pd.Series([10,20,30,40] , index =['a','b','e','f'])

print(a+c)                                    #PUTTING INDEX WITH NO VALUES RETURNS NaN

a    11.0
b    22.0
c     NaN
d     NaN
e     NaN
f     NaN
dtype: float64